local
.settings
*.pyc
*.pyo
dumps
review_index
xml_reviews/*.xml
.cache
tmp
apps/neocrawler/bin/crawlc
zillion/apps/cck/templates/layout.py.bak
.project
.pydevproject
\#*
.\#*
.*.swp
*~
.*.sw*
TAGS
tags
milo/apps/merchant_address/sears/cookies
*.iml
.ropeproject
*_flymake.py
*,cover
.coverage
coverage/
docs/api-docs/build
sphinx
.~lock.*
.noseids
*.egg-info/
build/
dist/
*.log
*.log.*
.dir-locals.el
.idea/
_build/
node_modules/
*/less/*css
*/less/*/*css
.DS_Store
